*{
	margin: 0;
	padding: 0;
}
/*index*/
.containermenu{
	padding: 0 20px;
	width: 100%;
	height: 50px;
	background-color: black;
	display: table;
}
.containermenu ul, .containermenu ul li{
	height: 100%;
}
.containermenu ul li{
	width: 13%;
	border-left: solid 1px gray;
	opacity: 0.8;
	display: inline-block;
}
nav ul li a{
	margin-top: 7%;
	font-family: monospace;
	font-size: 18px;
	text-align: center;
	color: white;
	text-decoration: none;
	display: block;
}
.containermenu ul li:first-child{
	border: none;
}
.containerpindex img{
	margin: 2% 50px;
	width: 90%;
	height: 98%;
}
/*paginas*/

/* colores*/
div nav{
	display: inline-block;
	background-color: white;
}
div nav article{
	background-color: cyan;
}
div nav article section{
	background-color: gray;
}
div nav article section dl{
	background-color: yellow;
}
div nav article section dl pre {
	background-color: #FF3B3B;
}
/*  */

/*Pagina1*/
div{
	margin: 20px auto;
	width: 900px;
	height: 1280px;
	background-color: black;
	display: table;
}
.containerp1 nav:nth-child(1),.containerp1 nav:nth-child(2), .containerp1 nav:nth-child(3){
	margin-top: 40px;
	margin-left: 37.5px;
	width: 250px;
	height: 250px;
}
.containerp1 nav:nth-child(3){
	margin-right: 37.5px;
}
.containerp1 nav:nth-child(4),.containerp1 nav:nth-child(5),
.containerp2 nav:nth-child(1),.containerp2 nav:nth-child(2),
.containerp3 nav:nth-child(1),.containerp3 nav:nth-child(2){
	margin-top: 30px;
	margin-left: 50px;
	width: 375px;
	height: 375px;
}
.containerp1 nav:nth-child(5){
	margin-right: 50px;
}
.containerp1 nav:nth-child(6){
	margin: 65px 75px;
	width: 750px;
	height: 455px;
}
.containerp1 nav:nth-child(1) article,.containerp1 nav:nth-child(2) article,.containerp1 nav:nth-child(3) article,.containerp1 nav:nth-child(4) article,.containerp1 nav:nth-child(5) article,
.containerp1 nav:nth-child(6) article:nth-child(3) section,
.containerp2 nav:nth-child(1) article,.containerp2 nav:nth-child(2) article,.containerp2 nav:nth-child(3) article,
.containerp3 nav:nth-child(1) article section dl,.containerp3 nav:nth-child(2) article section dl:nth-child(3),.containerp3 nav:nth-child(2) article section dl:last-child,
.containerp3 nav:nth-child(3) article section:nth-child(3) dl,.containerp3 nav:nth-child(4) article section dl pre,
.containerp4 nav:nth-child(1) article,.containerp4 nav:nth-child(3) article,.containerp4 nav:nth-child(5) article,.containerp4 nav:nth-child(7) article:nth-child(3) section,.containerp4 nav:nth-child(11) article section,
.containerp4 nav:nth-child(12) article:nth-child(1) section,.containerp4 nav:nth-child(12) article:nth-child(2) section,.containerp4 nav:nth-child(12) article:nth-child(3) section,
.containerp4 nav:nth-child(12) article:nth-child(4) section,.containerp4 nav:nth-child(8) article section dl pre{
border-radius: 50%;
}
.containerp1 nav:nth-child(1) article,.containerp1 nav:nth-child(2) article,.containerp1 nav:nth-child(3) article,.containerp1 nav:nth-child(4) article,
.containerp1 nav:nth-child(5) article{
	width: 90%;
	height: 90%;
}
.containerp1 nav:nth-child(1) article,.containerp1 nav:nth-child(2) article,.containerp1 nav:nth-child(3) article{
	margin: 12.5px;
}
.containerp1 nav:nth-child(4) article,.containerp1 nav:nth-child(5) article{
	margin: 18.75px;
}
.containerp1 nav:nth-child(6) article:nth-child(1),.containerp1 nav:nth-child(6) article:nth-child(2),.containerp1 nav:nth-child(6) article:nth-child(3){
	margin-top: 30px;
	 margin-bottom: 30px;
	margin-left: 37.5px;
	width: 200px;
	height: 395px;
	float: left;
}
.containerp1 nav:nth-child(6) article:nth-child(3){
	margin-right: 37.5px;
}
.containerp1 nav:nth-child(6) article:nth-child(1) section,.containerp1 nav:nth-child(6) article:nth-child(3) section{
	margin-top: 30px;
	margin-left: 54.5px;
	margin-right: 54.5px;
	width: 91px;
	height: 91px;
}
.containerp1 nav:nth-child(6) article:nth-child(1) section:nth-child(3),.containerp1 nav:nth-child(6) article:nth-child(3) section{
	margin-bottom: 30px;
}
.containerp1 nav:nth-child(6) article:nth-child(2) section,
.containerp2 nav:nth-child(4) article,.containerp2 nav:nth-child(5) article,.containerp2 nav:nth-child(6) article,
.containerp3 nav:nth-child(3) article section:nth-child(1) dl,.containerp3 nav:nth-child(3) article section:nth-child(2) dl,
.containerp4 nav:nth-child(2) article,.containerp4 nav:nth-child(4) article,.containerp4 nav:nth-child(7) article:nth-child(1) section,.containerp4 nav:nth-child(7) article:nth-child(2) section,
.containerp4 nav:nth-child(9) article section:last-child,.containerp4 nav:nth-child(10) article section:first-child,.containerp4 nav:nth-child(12) article:nth-child(5) section,
.containerp4 nav:nth-child(9) article section:first-child dl,.containerp4 nav:nth-child(10) article section:last-child dl{
	border-radius: 45%;
}
.containerp1 nav:nth-child(6) article:nth-child(2) section{
	margin: 40px auto;
	width: 80%;
	height:	80%;
}
/* Pagina 2 */
.containerp2 nav:nth-child(1) article,
.containerp2 nav:nth-child(2) article{
	margin-top: 9.375px;
	margin-left: 9.375px;
	margin-bottom: 9.375px;
	width: 45%;
	height: 45%;
	float: left;
}
.containerp2 nav:nth-child(1) article:nth-child(2),.containerp2 nav:nth-child(1) article:nth-child(4),.containerp2 nav:nth-child(2) article:nth-child(2),
.containerp2 nav:nth-child(2) article:nth-child(4){
	margin-right: 9.375px;
}
.containerp2 nav:nth-child(3){
	margin: 45px 150px;
	width: 600px;
	height: 400px;
}
.containerp2 nav:nth-child(3) article{
	margin-top: 15px;
	margin-left: 16px;
	margin-bottom: 15px;
	width: 45%;
	height: 90%;
	float: left;
}
.containerp2 nav:nth-child(3) article:last-child{
margin-right: 16px;
}
.containerp2 nav:nth-child(4),.containerp2 nav:nth-child(5),.containerp2 nav:nth-child(6){
width: 150px;
}
.containerp2 nav:nth-child(4),.containerp2 nav:nth-child(5),.containerp2 nav:nth-child(6),.containerp2 nav:nth-child(7){
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	height: 300px;
}
.containerp2 nav:nth-child(7){
	width: 300px;
}
.containerp2 nav:nth-child(4) article,.containerp2 nav:nth-child(5) article,.containerp2 nav:nth-child(6) article{
	margin: 25px auto;
	width: 80%;
	height: 80%;
}
.containerp2 nav:nth-child(7) article{
	margin-top: 15px;
	margin-left: 20px;
	margin-bottom: 15px;
	width: 40%;
	height: 40%;
	border-radius: 50%;
	float: left;
}
.containerp2 nav:nth-child(7) article:nth-child(2),.containerp2 nav:nth-child(7) article:nth-child(4){
	margin-right: 20px;
}
/* Pagina3*/
.containerp3 nav:nth-child(1) article,.containerp3 nav:nth-child(2) article,.containerp3 nav:nth-child(1) article section,.containerp3 nav:nth-child(2) article section,
.containerp4 nav:nth-child(9) article,.containerp4 nav:nth-child(10) article,.containerp4 nav:nth-child(11) article,.containerp4 nav:nth-child(11) article section{
		margin: 4% auto;
	}
.containerp3 nav:nth-child(1) article,.containerp3 nav:nth-child(2) article,.containerp3 nav:nth-child(1) article section,.containerp3 nav:nth-child(2) article section,
.containerp3 nav:nth-child(3) article,.containerp3 nav:nth-child(4) article,.containerp3 nav:nth-child(4) article section,.containerp3 nav:nth-child(4) article section dl,
.containerp4 nav:nth-child(8) article,.containerp4 nav:nth-child(9) article,.containerp4 nav:nth-child(10) article,.containerp4 nav:nth-child(11) article,
.containerp4 nav:nth-child(8) article section,.containerp4 nav:nth-child(9) article section:first-child dl,.containerp4 nav:nth-child(10) article section:last-child dl{
		width: 90%;
		height: 90%;
		display: table;
}
.containerp3 nav:nth-child(1) article section dl,.containerp3 nav:nth-child(2) article section dl,.containerp3 nav:nth-child(3) article section dl,
.containerp3 nav:nth-child(4) article section dl pre{
	float: left;
}
.containerp3 nav:nth-child(1) article section dl,.containerp3 nav:nth-child(2) article section dl{
	margin-top: 46px;
	margin-left: 18px;
	margin-bottom: 30px;
	width: 75px;
	height: 75px;
}
.containerp3 nav:nth-child(1) article section dl:nth-child(3),.containerp3 nav:nth-child(1) article section dl:nth-child(6),
.containerp3 nav:nth-child(2) article section dl:nth-child(3),.containerp3 nav:nth-child(2) article section dl:nth-child(6){
	margin-right: 15.6px;
}
.containerp3 nav:nth-child(3),.containerp3 nav:nth-child(4){
	margin: 40px 50px;
	width: 800px;
	height: 375px;
	display: table;
}
.containerp3 nav:nth-child(3) article,
.containerp3 nav:nth-child(4) article,.containerp3 nav:nth-child(4) article section,.containerp3 nav:nth-child(4) article section dl{
	margin: 2% auto;
}
.containerp3 nav:nth-child(3) article section{
	margin-top: 35px;
	margin-left: 35px;
	margin-bottom: 33px;
	height: 80%;
	display: inline-block;
}
.containerp3 nav:nth-child(3) article section:first-child{
	width: 35%;
}
.containerp3 nav:nth-child(3) article section:nth-child(2){
	width: 25%;
}
.containerp3 nav:nth-child(3) article section:nth-child(3){
	width: 20%;
	margin-right: 38px;
}
.containerp3 nav:nth-child(3) article section:nth-child(1) dl{
	margin-left: 30px;
	margin-bottom: 25px;
	width: 34%;
	height: 82%;
}
.containerp3 nav:nth-child(3) article section:nth-child(1) dl:nth-child(2){
	margin-right: 20px;
}
.containerp3 nav:nth-child(3) article section:nth-child(1) dl,
.containerp3 nav:nth-child(3) article section:nth-child(2) dl,
.containerp3 nav:nth-child(3) article section:nth-child(3) dl{
	margin-top: 26px;
}
.containerp3 nav:nth-child(3) article section:nth-child(2) dl{
	margin-left: 18px;
	margin-right: 14px;
	width: 82%;
	height: 34%;
}
.containerp3 nav:nth-child(3) article section:nth-child(2) dl:nth-child(2){
	margin-bottom: 35px;
}
.containerp3 nav:nth-child(3) article section:nth-child(3) dl{
	margin-left: 22px;
	margin-right: 21px;
	width: 70%;
	height: 30%;
}
.containerp3 nav:nth-child(3) article section:nth-child(3) dl:nth-child(2){
	margin-bottom: 55px;
}
.containerp3 nav:nth-child(4) article section dl pre{
	margin-top: 64px;
	margin-left: 20px;
	margin-bottom: 60px;
	width: 16%;
	height: 54%;
}
.containerp3 nav:nth-child(4) article section dl pre:nth-child(5){
	margin-right: 15px;
}
/* Pagina4*/
.containerp4 nav{
	margin-top: 5%;
	height: 20%;
}
.containerp4 nav:nth-child(1),.containerp4 nav:nth-child(7),.containerp4 nav:nth-child(9),.containerp4 nav:nth-child(12){
	margin-left: 30px;
}
.containerp4 nav:nth-child(1),.containerp4 nav:nth-child(2),.containerp4 nav:nth-child(3),.containerp4 nav:nth-child(4),.containerp4 nav:nth-child(5){
	width: 12%;
}
.containerp4 nav:nth-child(6){
	width: 7%;
}
.containerp4 nav:nth-child(2),.containerp4 nav:nth-child(3),.containerp4 nav:nth-child(4),.containerp4 nav:nth-child(5),.containerp4 nav:nth-child(6){
	margin-left: 45px;
}
.containerp4 nav:nth-child(7){
	width: 30%;
}
.containerp4 nav:nth-child(8){
	margin-left: 55px;
	width: 56%;
}
.containerp4 nav:nth-child(9),.containerp4 nav:nth-child(10),.containerp4 nav:nth-child(11){
	width: 25%;
}
.containerp4 nav:nth-child(10),.containerp4 nav:nth-child(11){
	margin-left: 77px;
}
.containerp4 nav:nth-child(12){
	width: 92.2%;
}
.containerp4 nav:nth-child(6),.containerp4 nav:nth-child(8),.containerp4 nav:nth-child(11),.containerp4 nav:nth-child(12){
	margin-right: 41px;
}
.containerp4 nav:nth-child(1) article,.containerp4 nav:nth-child(3) article,.containerp4 nav:nth-child(5) article{
	margin-top: 8%;
	margin-left: 10%;
	width: 80%;
	height: 45%;
}
.containerp4 nav:nth-child(1) article:nth-child(2),.containerp4 nav:nth-child(3) article:nth-child(2),.containerp4 nav:nth-child(5) article:nth-child(2){
	margin-bottom: 8%;
}
.containerp4 nav:nth-child(2) article,.containerp4 nav:nth-child(4) article{
	margin: 24% 10%;
	width: 80%;
	height: 80%;
}
.containerp4 nav:nth-child(7) article:nth-child(1),.containerp4 nav:nth-child(7) article:nth-child(2){

}
.containerp4 nav:nth-child(7) article{
	float: left;
}
.containerp4 nav:nth-child(7) article:nth-child(1){
	margin: 3% 8% 6% 8%;
	width: 83%;
	height: 25%;
}
.containerp4 nav:nth-child(7) article:nth-child(3){
	margin-right: 17%;
}
.containerp4 nav:nth-child(7) article:nth-child(2),.containerp4 nav:nth-child(7) article:nth-child(3){
	margin-left: 16%;
	margin-bottom: 5%;
	width: 25%;
	height: 60%;
}
.containerp4 nav:nth-child(8) article,.containerp4 nav:nth-child(8) article section,
.containerp4 nav:nth-child(9) article section:first-child dl,.containerp4 nav:nth-child(10) article section:last-child dl{
	margin: 2% auto;
}
.containerp4 nav:nth-child(12) article{
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 3%;
	width: 17%;
	height: 83%;
	display: inline-block;
}
.containerp4 nav:nth-child(12) article:last-child{
	margin-right: 2%;
}
.containerp4 nav:nth-child(7) article:nth-child(1) section{
	margin: 1% 5%;
}
.containerp4 nav:nth-child(7) article:nth-child(2) section{
	margin: 10% 4%;
}
.containerp4 nav:nth-child(7) article:nth-child(1) section,.containerp4 nav:nth-child(7) article:nth-child(2) section{
	height: 90%;
	width: 90%;
}
.containerp4 nav:nth-child(7) article:nth-child(3) section{
	margin-top: 15%;
	margin-left: 5%;
	margin-right: 5%;
	height: 40%;
	width: 90%;
}
.containerp4 nav:nth-child(7) article:nth-child(3) section:last-child{
	margin-bottom: 15%;
}
.containerp4 nav:nth-child(9) article section:first-child,.containerp4 nav:nth-child(10) article section:last-child{
	display: table;
}
.containerp4 nav:nth-child(9) article section:first-child,.containerp4 nav:nth-child(10) article section:first-child,.containerp4 nav:nth-child(12) article:nth-child(5) section:first-child{
	margin: 7.5% auto;
}
.containerp4 nav:nth-child(9) article section,.containerp4 nav:nth-child(10) article section,.containerp4 nav:nth-child(12) article:nth-child(5) section{
	width: 70%;
	height: 40%;
}
.containerp4 nav:nth-child(9) article section:last-child,.containerp4 nav:nth-child(10) article section:last-child,.containerp4 nav:nth-child(12) article:nth-child(5) section:last-child{
	margin-left: auto;
	margin-bottom: 7.5%;
	margin-right: auto;
}
.containerp4 nav:nth-child(11) article section{
	width: 98%;
	height: 88%;
}
.containerp4 nav:nth-child(12) article:nth-child(1) section,.containerp4 nav:nth-child(12) article:nth-child(2) section,.containerp4 nav:nth-child(12) article:nth-child(3) section,
.containerp4 nav:nth-child(12) article:nth-child(4) section,.containerp4 nav:nth-child(8) article section dl pre{
	margin: 30% auto;
	width: 80%;
	height: 60%;
}
.containerp4 nav:nth-child(8) article section dl{
	margin-left: 6%;
	margin-top: 7.5%;
	margin-bottom: 7.5%;
	width: 25%;
	height: 70%;
	display: inline-block;
}
.containerp4 nav:nth-child(8) article section dl:last-child{
	margin-right: 7%;
}
.containerp4 nav article section dl pre{

}





90%
30%
50%
